.header__wrapper {
  width: 100vw;
  height: .5rem;
  line-height: 0.5rem;
  background-color: rgb(60, 161, 228);
  text-align: center;
  position: sticky;
  color: aliceblue;
  top: 0;
  h3 {
    font-size: 0.18rem;
  }
  &--opts {
    display: inline-block;
    position: absolute;
    right: .16rem;
    top: 0;
  }
}